# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editor settings
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Database files
*.sqlite3
*.db

# Machine Learning model files
*.pt
*.pth
*.h5
*.pkl
*.joblib

# Environment files
.env
.env.*

# Docker
docker-compose.override.yml

# Temporary or cache files
*.tmp
*.bak
*.swp
.cache/
